/* Banner */

header {
    background: #b78f76;
    color: #fff;
    margin: 0 0 0;
    padding: 15px;
    position: relative;
    background-size:100%;
}


nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10% 0 5%;
}


nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

ol { 
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}


ol a { 
    	color: black;
	text-decoration: none;
	font-weight: bold;
}


.logo {
	color: white;
	text-decoration: none;
	font-size: 28px;
}

html, body {
  margin: 0; 
  padding: 0;
}

/* Body */

main, footer {
    box-sizing: border-box;
    padding: 0 1em;
}

main, footer {
    margin: 0 auto;
    max-width: 960px;
}

.heading {
    background: #563d2d;
    color: #fff;
    margin: 16px 0 16px;
    padding: 15px;
    display:inline-block;
    border-radius: 10px;
}



h2 {
    color: #563d2d;
}



/* Fonts */

p, h1, li { 

	font-family: "Lato", Arial, sans-serif;
}



@font-face {
	font-family: Lato;
	src: url(../f/Lato-Italic.ttf) format("truetype");
	font-weight: 400;
        font-style: italic;
}


@font-face {
	font-family: Lato;
	src: url(../f/Lato-Bold.ttf) format("truetype");
	font-weight: 700;
        font-style: bold;
}


@font-face {
	font-family: Lato;
	src: url(../f/Lato-Regular.ttf) format("truetype");
	font-weight: 400;
        font-style: normal;
}

